<html>


<div>
  
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        <!-- data is passed from custom.js -->
        {% for (var firstLayer in data) { %}

          <!-- if the data[firstLayer] length > 0, it means that the category is not empty -->
          <!-- then it can have sub menu -->
          {% if data[firstLayer].length > 0 %}

            <!--  -->
            <li class="treeview">
              <a href="#">
                <!-- this block is the first layer on the sidebar. -->
                <i><span>{{ firstLayer.charAt(0) }}</span></i>
                <span>{{ firstLayer }}</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                
                {% for (var i=0; i < data[firstLayer].length; i++) { %}
                  <li>
                    <ul class="sidebar-menu" id="second-layer">
                      
                      <li class="treeview">
                        <!-- for some of the tabs on second layer -->
                        <!-- it does not have the third layer -->
                        <!-- then we need to make sure the second layer has a link to access -->
                        {% if data[firstLayer][i].links.length > 0 %}
                          <a href="#">
                        {% else %}
                          <a href="{{ data[firstLayer][i].link }}">
                        {% endif %}
                        <!-- the rest two lines are the same whether the second layer has third layers or not -->
                            <i class="{{ data[firstLayer][i].icon }}"></i>
                            <span>{{data[firstLayer][i].label}}</span>
                        </a>
                        
                        <!-- only shows the following if the third layer exists -->
                        {% if data[firstLayer][i].links.length > 0 %}
                        <ul class="treeview-menu">

                            <!-- loop through the tabs -->
                            {% for (var j=0; j < data[firstLayer][i].links.length; j++) { %}

                              <li>
                                <!-- the logic below is coming from \apps\frappe\frappe\public\js\frappe\views\components\utils.js -->
                                {% var aLink = "" %}
                                {% if !data[firstLayer][i].links[j].route %}
                                  {% if data[firstLayer][i].links[j].link %}
                                    {% aLink = strip("data[firstLayer][i].links[j].link", "#") %}
                                  {% endif %}

                                  {% if data[firstLayer][i].links[j].type==="doctype" %}
                                    {% if frappe.model.is_single(data[firstLayer][i].links[j].name) %}
                                      {% aLink = "Form/" + data[firstLayer][i].links[j].name %}
                                    {% else %}
                                      {% aLink = "List/" + data[firstLayer][i].links[j].name %}
                                    {% endif %}
                                  {% endif %}

                                  {% if data[firstLayer][i].links[j].type==="report" && data[firstLayer][i].links[j].is_query_report %}
                                    {% aLink = "query-report/" + data[firstLayer][i].links[j].name %}
                                  {% endif %}

                                  {% if data[firstLayer][i].links[j].type==="report" && !data[firstLayer][i].links[j].is_query_report %}
                                    {% aLink = "List/"+ data[firstLayer][i].links[j].doctype + "/Report/" + data[firstLayer][i].links[j].name %}
                                  {% endif %}

                                  {% if data[firstLayer][i].links[j].type==="page" %}
                                    {% aLink = data[firstLayer][i].links[j].name %}
                                  {% endif %}
                                  {% aLink = "#" + aLink %}
                                {% else %}
                                  {% aLink = data[firstLayer][i].links[j].route %}
                                {% endif %}

                                <!-- use the variable to show the link -->
                                <a href="{{ aLink }}">
                                  <i class="fa fa-circle-o"></i>
                                  <span>{{ data[firstLayer][i].links[j].label }} </span>
                                </a>
                              </li>

                            {% } %} 

                            <!-- clicks on More button -->
                            <li>
                              <a href="#modules/{{data[firstLayer][i].module_name}}">
                                <i class="fa fa-circle-o"></i>
                                <span> More...</span>
                              </a>
                            </li>
                        </ul>
                        {% endif %}
                      </li>

                    </ul>
                  </li>
                
                {% } %}
              </ul>
              
            </li>


          {% endif %}
        {% } %}
        
		</ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  
  
</div>
</html>
